<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>


<!--
<form action="/movies/<%#= @the_movie.id %>" method="post" data-turbo="false">


form action="<%#= movie_path(@the_movie) %>" method="post" data-turbo="false">
  <input name="authenticity_token" value="<%#= form_authenticity_token %>" type="hidden">
-->

<%= form_with(model: (@movie), method: :patch, data: { turbo: false }) do |form|%>

  <div>
    <!--<label for="title_box">
      Title
    </label>-->

<%= form.label :title%>
    <!--    <input type="text" id="title_box" name="query_title" value="<%#= @the_movie.title %>">-->
    <%= form.text_field :title%>
  </div>

  <div>
    <!--<label for="description_box">
      Description
    </label>-->

    <%= form.label :description%>

    <!--    <textarea id="description_box" name="query_description" rows="3"><%#= @the_movie.description %></textarea>-->

 <%= form.text_area :description, rows: "3" %>
  </div>

  <!--<button>
    Update Movie
  </button>-->

  <%= form.button %>

  <!--</form>
-->
<%end%>
