<h1>
  List of all movies
</h1>

<hr>

<div>
  <%= link_to "Add a new movie", new_movie_path %>
 <!-- <a href="<%= new_movie_path %>">Add a new movie</a> -->
</div>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= movie.id %>
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.description %>
    </td>

    <td>
      <%= time_ago_in_words(movie.created_at) %> ago
    </td>
    <td>
      <%= time_ago_in_words(movie.updated_at) %> ago
    </td>

    <td>
      <!--<a href="/movies/<%#= a_movie.id %>" 

      <%#= link_to "Go to Google", "https://google.com" %> -->

      <%= link_to "Show details", movie_path(movie) %>
     <!-- <a href="<%#= movie_path(a_movie) %>"
        Show details
      </a> -->
    </td>
  </tr>
  <% end %>
</table>


<hr>


<form> 

  <label>First Name</label>
  <input name="full_name[first]" value="first name">

  <label>Middle Initial</label>
  <input name="full_name[middle]" value="middle initial">

  <label>Last Name</label>
  <input name="full_name[last]" value="last name">

  <button>Submit </button>
</form>


<%#= link_to "Show details", a_movie %>

<%# #Movie.first.class.downcase + " _url" %>

<%#= #link_to "Show details", movie_path(a_movie) %>
